body {
  min-width: 320px;
  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
  }
  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
  }

  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: $txt-general-primary;
  background-color: $bg-primary;
  text-transform: uppercase;
}

.global-wrapper {
  width: 320px;
  margin: 0 auto;
  box-shadow: 0 -5px 9px 2px #dbdbdb;
  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 auto;
  }
  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}
