.content-header {
  padding-left: 20px;
  padding-right: 15px;
}

.content-header__title {
  margin-bottom: 42px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  color: $txt-color-headline;
}

.content-header__text {
  margin-bottom: 40px;
  padding-bottom: 25px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;

  color: $txt-color-paragraph;
}

@media (min-width: 768px) {
  .content-header {
    margin: 0 auto;
    width: 450px;
    
    text-align: center;
  }
  .content-header__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }
}
