.copyright {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;

  color: $txt-general-primary;
}

.copyright__img {
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 134px;
    margin: 0;
  }
}
