.logo {
  position: absolute;
  top: 0;
  transform: translate(-50%);
  left: 50%;
  width: 102px;
  margin: 0 auto;
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    transform: translate(-50%);
    left: 50%;
  }
  
  @media (min-width: $desktop-width) {
    width: 188px;
    height: 96px;
  }
}
