.menu {
  outline: red 1px solid;
}
.menu__list {
  padding-left: 72px;
  padding-right: 45px;
  list-style: none;
}
.menu__item {
  background-color: $color-blue;
}
.menu__link {
  font-size: 18px;
  line-height: 40px;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;

}
.menu__toggle {
  display: none;
}
