.menu {
  width: 320px;
  position: relative;
  min-height: 55px;
  margin: 0 auto;
  text-align: center;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  background-color: $bg-menu;
}

@media (max-width: $mobile-width-only) {
  .menu {
    width: auto;
    min-height: 56px;
  }
  .menu__item {
    border-bottom: 1px solid #678fa8;
  }
  .menu__item:last-child {
    border: none;
  }
  .menu__list {
    width: 100%;
  }
  .menu__link {
    display: block;
    padding: 7px 0;
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    color: $txt-menu;
    text-transform: uppercase;
    text-decoration: none;
  }
  .menu__link:hover {
    background-color: #669ec0;
  }
  .menu__link:active {
    background-color: #5496bd;
  }
  .menu--nojs .menu__toggle {
    display: none;
  }
  .menu--nojs .menu__wrapper {
    position: static;
    height: auto;
  }
  .menu--nojs .menu__item {
    display: block;
  }
  .menu__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 70px;
    height: 50px;
    font-size: 0;
    background-color: $bg-primary;
    cursor: pointer;
    border: none;
    outline: none;
    &:hover {
      background-color: $bg-primary;
    }
    &:active {
      background-color: $bg-primary;
    }
  }
  .menu--closed .menu__toggle::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 36px;
    height: 2px;
    background-color: #678fa8;
    box-shadow: 0 8px 0 0 #678fa8, 0 16px 0 0 #678fa8;
  }

   .menu__toggle {
    top: auto;
  }
  .menu--closed .menu__toggle:active::before {
    background-color: #678fa8;
    box-shadow: 0 8px 0 0 #678fa8, 0 16px 0 0 #678fa8;
  }
  .menu--opened .menu__toggle {
    top: -5px;
    right: 0;
    left: 250px;
    background-color: transparent;
    &::before, &::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 18px;
      width: 36px;
      height: 2px;
      background-color: rgba(255, 255, 255, 10);
    }
    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }
    &::after {
      transform: rotate(-45deg);
    }
    &:active::before, &:active::after {
      background-color: rgba(255, 255, 255, 10);
    }
  }
  .menu--closed .menu__item {
    display: none;
  }
  .menu--closed .logo__img {

    top: auto;
  }
}

@media (min-width: $tablet-width) {
  .menu {
    width: auto;
    margin: 0;
    background-color: $bg-primary;
  }
  .menu__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .menu__toggle {
    display: none;
  }
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  .menu__item {
    display: inline-block;
    background: $bg-primary;
    border-bottom: none;
    color: black;
    width: 20%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
      &:nth-child(2) {
        margin-right: 20%;
      }
  }
  .menu__link {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: $txt-general-primary;
    text-decoration: none;
  }
}
