.popup-failure__title {
  font-size: 18px;
  line-height: 26px;
}
.popup-failure__text {
  font-size: 14px;
  line-height: 24px;
}
.popup-failure__btn {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
}
.popup-success__title {
  font-size: 18px;
  line-height: 26px;
}
.popup-success__text {
  font-size: 14px;
  line-height: 24px;
}
.popup-success__btn {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
}
