.post {
  font-size: 14px;
  line-height: 24px;
  padding-left: 20px;
  box-sizing: border-box;
  outline: 1px solid red;
}

.post__title {
  font-weight: 700;
  color: $txt-color-headline;
}

.post__author {
  font-weight: 400;
  color: $txt-color-post-author;
}

.post__like {
  font-weight: 700;
  color: $txt-general-primary;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .post:first-child {
    width: 100%;
    padding-right: 20px;
  }
  .post {
    width: 50%;
    padding-right: 30px;
  }
  .post__annotation {
    display: flex;
    justify-content: space-between;

    color:$txt-general-secondary;
    background: rgba(0, 0, 0, 0.3);
  }
  .post__like {
    align-self: center;
    color: $txt-general-secondary;
  }
  .post__author {
    color: $txt-general-secondary;
  }
}

@media (min-width: $desktop-width) {
  .post:first-child {
    width: 100%;
  }

  .post {
    width: (calc(100% / 3) ;
  }
  .post__annotation {
    display: flex;
    justify-content: space-between;
  }
  .post__like {
    align-self: center;
  }
}
