.reason {
  color: #ffffff;
  outline: red 1px solid;
  &--bg-blue {
    background-color: #81b3d2;
  }
  &--bg-gray {
    background-color: #eeeeee;
    color: #000000;
  }
  &__text--light-black {
    color: #333333;
  }
  &__number--light-black {
    color: #333333;
  }
  &__item {
      outline: red 1px solid;
  }
}
.reason__title {
  font-size: 18px;
  line-height: 26px;
}
