.reason {
  color: $color-white;

  outline: red 1px solid;

  &--bg-blue {
  padding: 0 45px;
  padding-top: 40px;
  padding-bottom: 20px;

  background-color: $bg-secondary-reason;
  }
  &--bg-gray {
  padding: 0 45px;
  padding-top: 30px;
  padding-bottom: 20px;

  background-color: $bg-reason-primary;
  color: $txt-general-primary;
  }
  &__text--light-black {
    color: $txt-color-paragraph;
  }
  &__number--light-black {
    color: $txt-color-number;
  }
  &__item {
      outline: red 1px solid;
  }
}
.reason__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
.reason__number {
  padding: 0 70;
  padding-bottom: 25px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.reason__text {
  padding-bottom: 40px;
  
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.reason__item {
  padding: 25px 0;
  padding-left: 40px;
}
