.reason-text {
  padding: 0 45px;
  padding-top: 40px;
  padding-bottom: 20px;

  background-color: $bg-secondary-reason;
  outline: red 1px solid;
}

@media (min-width: $tablet-width) {
  .reason-text--left {
    float: left;
    width: 256px;
  }
  .reason-text--right {
    float: right;
    width: 256px;
  }
}

@media (min-width: $desktop-width) {
  .reason-text--left {
    width: 400px;
    height: 256px;

    text-align: center;
    padding: 0;
    padding-bottom: 3px;
  }
  .reason-text--right {
    width: 400px;
    height: 256px;
    padding: 0;
    margin: 0;
    padding-bottom: 3px;
  }
}
