.social-link {
  display: inline-block;
  padding-right: 5px;
  width: 46px;
  height: 46px;

  line-height: 48px;
  font-size: 0;

  background-color: #81b3d2;
  color: $txt-general-primary;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;

  &--tw {
    background-image: url("../img/icon-twitter.svg");
  }
  &--fb {
    background-image: url("../img/icon-facebook.svg");
  }
  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}
