@media (max-width: $mobile-width-only)  {
  .toggle {
    position: absolute;
    z-index: 2;
    top: auto;
    right: 0;

    display: block;
    width: 50px;
    height: 50px;

    font-size: 0;

    background-color: $bg-primary;
    cursor: pointer;
    border: none;
    outline: none;
    &:hover {
      background-color: $bg-primary;
    }
    &:active {
      background-color: $bg-primary;
    }
  }
}
@media (min-width: $tablet-width) {
  .toggle {
    display: none;
  }
}
